
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - configmap.yaml
  - hpa.yaml

images:
  - name: cloud-native-secure-devops-platform
    newName: ghcr.io/amiri624/cloud-native-secure-devops-platform
    newTag: latest

commonLabels:
  app.kubernetes.io/part-of: cloud-native-secure-devops-platform


---
