
---
global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:

  # --- Scrape Kubernetes Nodes ---
  - job_name: 'kubernetes-nodes'
    kubernetes_sd_configs:
      - role: node
    relabel_configs:
      - action: labelmap
        regex: __meta_kubernetes_node_label_(.+)

  # --- Scrape Kubernetes Pods ---
  - job_name: 'kubernetes-pods'
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - action: keep
        source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
        regex: "true"
      - action: replace
        source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
        regex: "(.+)"
        target_label: metrics_path
      - action: replace
        source_labels: [address, __meta_kubernetes_pod_annotation_prometheus_io_port]
        regex: "([^:]+)(?::\\d+)?;(.*)"
        replacement: "$1:$2"
        target_label: address

  # --- Scrape DevSecOps App ---
  - job_name: "devsecops-app"
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - action: keep
        source_labels:
          - __meta_kubernetes_pod_label_app
        regex: "devsecops-app"


---
